<!DOCTYPE html>
<html>
<head>
    <title>Tantal Control Panel</title>
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery.mobile-1.4.2.css">

    <script type="text/javascript" src="/static/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/jquery.mobile-1.4.2.js"></script>
    <script type="text/javascript" src="/static/controller.js"></script>
</head>
<body>
    <div id="container">
        <div id="box">
            Pressed key.
        </div>

        <div id="up" class="button">UP</div>
        <div id="mid">
            <div id="left" class="button">LEFT</div>
            <div id="right" class="button">RIGHT</div>
        </div>
        <div id="down" class="button">DOWN</div>
    </div>
</body>
</html>